{% extends "layout.html" %}
{% block content %}
    <div style="background-image:url('..\static\profile_pics\11.jpg');">
        <div class="jumbotron p-4 p-md-5 text-gray rounded bg-dark">
                <div class="col-md-4 px-0">
                  <h1 class="display-4 font-italic">Meet Dorothy Kabarozi</h1>
                  <p class="lead my-3">Hello plant buddies and green friends,

                        This is me, Dorothy Kabarozi a software engineer ,ethusiastic about everything data
                        ,plant Lover and long life learner.
                        This blog is all about living with plants – 
                        in your home, in other interiors, in public spaces. I want to highlight the beauty and benefits of houseplants and other greeneries in urban spaces. Living with plants is not merely about styling and decorating. Houseplants have beneficial effects on our living environment and make our lives better, healthier and more beautiful. 
                        It is my mission here to share this love for plants with other like-minded people.
                 </p>
                  <p class="lead mb-0"><a href="#" class="text-info font-weight-bold">Continue reading...</a></p>
                </div>
          </div>
        
    </div>
{% endblock content %}
    
 