<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {% else %}
        <title>Dorothy's blog</title>
    {% endif%}
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
    <!-- block content for the unique content -->
    <div class="container">
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
                        </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="dropdown1">Comments</a>
                        <a class="dropdown-item" href="dropdown2">Notifications</a>
                        <a class="dropdown-item" href="dropdown3">Followers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="dropdown4">Likes</a>
                      </div>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="home">
                        
                           <p> <small>Welcome to my blog</small></p>
                    </div>
                    <div class="tab-pane fade" id="about">
                        <p>Am a software Developer who is passionate about software development,cloud computing and data science.
                            My fun fact is i love plants and all their dirty-iness,yes am passionate about plants and i have a couple of them already at my house.Plants give me joy watching them grow and bud.
                            That a side am a mom to alittle human being called KEZA.My heart aches for her. 

                        </p>
                    </div>
                    <div class="tab-pane fade" id="Profile">
                            <p>
                                Am a software Developer who is passionate about software development,cloud computing and data science.
                                
                            </p>
                        </div>
                    <div class="tab-pane fade" id="dropdown1">
                        <p>3</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown2">
                        <p>2</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown3">
                            <p>2</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown4">
                                <p>1</p>
                    </div>
                  </div>
            {% block content%} {%endblock%}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>